/*
1.-Display block
2.- Display inline
3.- inline Block
4.- Display flex
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: chocolate;
  height: 10vh;
  position: relative;
}

header img {
  width: 200px;
  height: 50px;
  position: absolute;
  left: 0;
}

header nav {
  position: absolute;
  right: 0;
}

header nav ul {
  list-style: none;
}

header nav ul li{
display: inline-block;
margin: 10px;
}
main {
  height: 80vh;
  position: relative;
}

aside {
  background-color: darkblue;
  width: 20vw;
  position: absolute;
  left: 0;
  display: inline-block;
  height: 80vh;
}

aside .box {
  width: 18vw;
  height: 80px;
  border-radius: 8px;
  background-color: aquamarine;
  margin: 1vw;
}
section {
  background-color: chartreuse;
  width: 80vw;
  position: absolute;
  right: 0;
  height: 80vh;
}

section p{
    padding: 10px;

}
footer {
  height: 10vh;
  background-color: chocolate;
}

footer p{
    text-align: center;
    padding: 20px;
}
